/*! CSS Used from: Embedded */
.rebelchat-btn{color:white;}
.rebelchat-container{font-size:14px;background-color:___BGCOLOR___;}
.rebelchat-nano{position:relative;width:100%;height:280px;overflow:hidden;}
.rebelchat-nano > .rebelchat-nano-content{position:absolute;overflow:scroll;overflow-x:hidden;top:0;right:0;bottom:0;left:0;right:-17px;}
.rebelchat-pad-all{padding:15px;}
li.rebelchat-mar-btm{margin-bottom:15px!important;}
.rebelchat-media-block .rebelchat-media-left{display:block;float:left;padding-right:0px;}
.rebelchat-img-sm{width:46px;height:46px;}
img.rebelchat-img{background-color:transparent;box-shadow:none;border:none;-webkit-box-shadow:none;}
.rebelchat-media-block .rebelchat-media-body{display:block;overflow:hidden;width:auto;}
.rebelchat-pad-hor{padding-left:15px;padding-right:15px;}
.rebelchat-speech{position:relative;background:__MSGBOXCOLOR__;color:__MSGCOLOR__;border-radius:0;padding:12px 20px;border-radius:15px;padding-left:10px;padding-right:10px;}
.rebelchat-speech:before{content:"";display:block;position:absolute;width:0;height:0;left:0;top:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:15px solid __MSGBOXCOLOR__;margin:15px 0 0 -6px;}
.rebelchat-speech .rebelchat-media-heading{font-size:12px;color:__MSGCOLOR__;display:flex;border-bottom:1px solid rgba(0,0,0,0.1);margin-bottom:10px;padding-bottom:5px;font-weight:300;}
.rebelchat-msg-left{margin-bottom:0px;text-align:justify;font-size:13px;word-wrap:break-word;}
.rebelchat-row{display:flex;margin-top:10px;}
.rebelchat-send-button{margin-left:5px;}
.rebelchat-timelabel{float:right;margin-left:2px;}
.rebelchat-config{border:1px solid rgba(255,255,255,0);display:inline-block;position:absolute;right:60px;text-align:center;font-size:11px;border-radius:20px;z-index:30;color:#7f94a1;line-height:23px;opacity:.4;transition:opacity 0.3s;-webkit-transition:opacity 0.3s;}
.rebelchat-config:hover{opacity:1;}
.rebelchat-material{box-sizing:border-box;}
.rebelchat-group{position:relative;width:100%;}
input.rebelchat-material{color:__INPUTCHATCOLOR__;padding:10px 10px 10px 5px;display:block;width:100%;border:none;border-bottom:1px solid __INPUTCHATCOLOR__;background-color:transparent;}
input.rebelchat-material:focus{outline:none;}
.rebelchat-bar{position:relative;display:block;width:100%;}
.rebelchat-bar:before,.rebelchat-bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:__INPUTCHATCOLOR__;transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all;}
.rebelchat-bar:before{left:50%;}
.rebelchat-bar:after{right:50%;}
input.rebelchat-material:focus ~ .rebelchat-bar:before,input.rebelchat-material:focus ~ .rebelchat-bar:after{width:50%;}
.rebelchat-highlight{position:absolute;height:60%;width:100px;top:25%;left:0;pointer-events:none;opacity:0.5;}
input.rebelchat-material:focus ~ .rebelchat-highlight{-webkit-animation:inputHighlighter 0.3s ease;-moz-animation:inputHighlighter 0.3s ease;animation:inputHighlighter 0.3s ease;}
input.rebelchat-material::-webkit-input-placeholder{color:__INPUTCHATCOLOR__;}
input.rebelchat-material:-moz-placeholder{color:__INPUTCHATCOLOR__;opacity:1;}
input.rebelchat-material::-moz-placeholder{color:__INPUTCHATCOLOR__;opacity:1;}
input.rebelchat-material:-ms-input-placeholder{color:__INPUTCHATCOLOR__;}
div.rebelchat-hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid __HRCOLOR__;text-align:center;height:0px;line-height:0px;}
.rebelchat-hr-title{background-color:___BGCOLOR___;color:__HRCOLOR__;}
.rebelchat-btn-main{color:#fff;background-color:rgba(50,153,187,0.8);border-color:white;}
.rebelchat-chat-name{flex:1;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.rebelchat{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.rebelchat:before,.rebelchat:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.rebelchat-list-unstyled{padding-left:0;list-style:none;}
.rebelchat-btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.rebelchat-show{visibility:visible;}
.rebelchat-hide{visibility: hidden;}
.rebelchat-modal{display:block;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0;}
.rebelchat-modal.rebelchat-fade .rebelchat-modal-dialog{-webkit-transform:translate(0, -25%);-ms-transform:translate(0, -25%);-o-transform:translate(0, -25%);transform:translate(0, -25%);-webkit-transition:-webkit-transform 0.3s ease-out;-o-transition:-o-transform 0.3s ease-out;transition:transform 0.3s ease-out;}
.rebelchat-modal.rebelchat-in .rebelchat-modal-dialog{-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0);}
.rebelchat-modal-dialog{position:relative;width:auto;margin:10px;}
.rebelchat-modal-content{position:relative;background-color:___BGCOLOR___;border:1px solid #999999;border:1px solid rgba(0, 0, 0, 0.2);border-radius:0;-webkit-box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;font-family:monospace}
.rebelchat-modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}
.rebelchat-modal-backdrop.rebelchat-fade{opacity:0;filter:alpha(opacity=0);}
.rebelchat-modal-backdrop.rebelchat-in{opacity:0.5;filter:alpha(opacity=50);}
.rebelchat-modal-header{padding:15px;border-bottom:1px solid rgba(255,255,255,0.6);}
.rebelchat-modal-header .rebelchat-modal-close{margin-top:-2px;-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0;float:right;}
.rebelchat-modal-title{margin:0;line-height:1.42857143;text-align:center;font-size:20px;color:rgba(255,255,255,0.8)}
.rebelchat-modal-body{position:relative;padding:15px;}
.rebelchat-modal-footer{padding:15px;text-align:right;border-top:1px solid rgba(255,255,255,0.6);}
.rebelchat-btn.rebelchat-btn-lg{padding:10px;letter-spacing:2px;font-size:17px;width:45%;margin:auto;display:block;font-family:monospace}
@media (min-width: 768px){
.rebelchat-modal-dialog{width:400px;margin:30px auto;}
.rebelchat-modal-content{-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);}
.modal-sm{width: 300px;}
}
@media (min-width: 992px) {
.modal-lg{width: 900px;}
}
.rebelchat-modal-header:before,.rebelchat-modal-header:after,.rebelchat-modal-footer:before,.rebelchat-modal-footer:after{content:" ";display:table;}
.rebelchat-modal-header:after,.rebelchat-modal-footer:after{clear:both;}
.rebelchat-checkbox{position:relative;display:block;margin-top:10px;margin-bottom:10px;}
.rebelchat-help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373;}
.rebelchat-form-control{font-size:11px;height:100%;border-radius:0;box-shadow:none;transition-duration:.5s;}
.rebelchat-btn-main{color:#fff;background-color:rgba(50,153,187,0.8);border-color:white;}
.rebelchat-btn:hover {background-color:rgba(41, 127, 153, 0.8);color:rgba(255,255,255,0.8)}
.rebelchat-form input,.rebelchat-form textarea{margin-bottom:30px;}
.rebelchat-form-control{font-size:11px;height:100%;border-radius:0;box-shadow:none;border:none;border-bottom:1px solid rgba(255,255,255,0.6);transition-duration:.5s;}
.rebelchat-form-control{padding:15px 20px!important;height:auto;border-bottom-color:rgba(255,255,255,0.6);box-shadow:none!important;}
.rebelchat{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.rebelchat:before,.rebelchat:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.rebelchat-form-control{display:block;width:100%;padding:6px 12px;font-size:14px;line-height:1.42857143;color:rgba(255,255,255,0.8);background-color:rgba(0, 0, 0, 0.075);background-image:none;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.rebelchat-form-control:focus,.rebelchat-form-control:active{background-color:rgba(0, 0, 0, 0.15)!important;border-bottom-color:rgba(255,255,255,0.8);outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.rebelchat-form-control::-moz-placeholder{color:rgba(255,255,255,0.6);opacity:1;}
.rebelchat-form-control:-ms-input-placeholder{color:rgba(255,255,255,0.6);}
.rebelchat-form-control::-webkit-input-placeholder{color:rgba(255,255,255,0.6);}
.rebelchat-form-control::-ms-expand{border:0;background-color:transparent;}
.rebelchat-form-control:-webkit-autofill,.rebelchat-form-control:-webkit-autofill:hover,.rebelchat-form-control:-webkit-autofill:focus{-webkit-text-fill-color:rgba(255,255,255,0.8)!important;-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.15) inset;box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.15) inset;transition: background-color 5000s ease-in-out 0s;background-color:rgba(0, 0, 0, 0.15)}
textarea.rebelchat-form-control{height:auto;}
.rebelchat-btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:0px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.rebelchat-modal-content .exp {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px
}

.rebelchat-modal-content .exp .checkbox {
    display: block;
    width: 262px;
    margin: auto;
    height: 100%;
    text-align: left;
}

.rebelchat-modal-content label {
    display: inline-block;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    position: relative;
    font-size: 15px;
    width: 262px
}
@media (max-width: 768px){
.rebelchat-btn.rebelchat-btn-lg{width:80%;}
}
.rebelchat-modal-content label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.rebelchat-modal-content label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: rgba(255,255,255,0.8);
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}

.rebelchat-modal-content label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: rgba(255,255,255,0.8);
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}

.rebelchat-modal-content label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}

.rebelchat-modal-content label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

.rebelchat-modal-content input[type="checkbox"] {
    display: none;
}

.rebelchat-modal-content input[type="checkbox"]:checked + label span {
    background-color: rgba(255,255,255,0.8);
    transform: scale(1.25);
}

.rebelchat-modal-content input[type="checkbox"]:checked + label span:after {
    width: 10px;
    background: ___BGCOLOR___;
    transition: width 150ms ease 100ms;
}

.rebelchat-modal-content input[type="checkbox"]:checked + label span:before {
    width: 5px;
    background: ___BGCOLOR___;
    transition: width 150ms ease 100ms;
}

.rebelchat-modal-content input[type="checkbox"]:checked + label:hover span {
    background-color: rgba(255,255,255,0.8);
    transform: scale(1.25);
}

.rebelchat-modal-content input[type="checkbox"]:checked + label:hover span:after {
    width: 10px;
    background: ___BGCOLOR___;
    transition: width 150ms ease 100ms;
}

.rebelchat-modal-content input[type="checkbox"]:checked + label:hover span:before {
    width: 5px;
    background: ___BGCOLOR___;
    transition: width 150ms ease 100ms;
}
/*! CSS Used keyframes */
@-webkit-keyframes inputHighlighter{from{background:__INPUTCHATCOLOR__;}to{width:0;background:transparent;}}
@-moz-keyframes inputHighlighter{from{background:__INPUTCHATCOLOR__;}to{width:0;background:transparent;}}
@keyframes inputHighlighter{from{background:__INPUTCHATCOLOR__;}to{width:0;background:transparent;}}