.chat-btn {
	color: white;
}

.collapse{
	font-size: 14px;
}

.nano {
	position: relative;
	width: 100%;
	height:280px;
	overflow: hidden;
}

.nano > .nano-content {
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	right: -17px;
}

.pad-all {
	padding: 15px;
}

.mar-btm {
	margin-bottom: 15px;
}

.media-block .media-left {
	display: block;
	float: left;
	padding-right: 0px;
}

.img-sm {
	width: 46px;
	height: 46px;
}

.media-block .media-body {
	display: block;
	overflow: hidden;
	width: auto;
}

.pad-hor {
	padding-left: 15px;
	padding-right: 15px;
}

.speech {
	position: relative;
	background: #b7dcfe;
	color: #317787;
	/* display: inline-block; */
	border-radius: 0;
	padding: 12px 20px;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.speech:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #b7dcfe;
	margin: 15px 0 0 -6px;
}

.speech-right>.speech:before {
	left: auto;
	right: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #ffdc91;
	border-right: 0;
	margin: 15px -6px 0 0;
}

.speech .media-heading {
	font-size: 12px;
	color: #317787;
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-weight: 300;
}

.speech-time {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: .8em;
	font-weight: 300;
}

.media-block .media-right {
	float: right;
	padding-left: 0px;
	padding-right: 15px;
}

.speech-right {
	text-align: right;
	text-align: left;
	padding-left: 0px;
}

.msg-data-left{
	text-align:right;
	float:right;
	font-size: 10px;
}
.msg-left{
	margin-bottom:0px;
	text-align: justify;
	font-size:13px
}

.msg-data-right{
	text-align:right;
	float: right;
	font-size: 10px;
}

.msg-right{
	margin-bottom:0px;
	text-align:justify;
	font-size:13px
}

.pad-hor {
	/* padding-left: 15px; */
	padding-right: 15px;
}

.speech-right>.speech {
	background: #ffda87;
	color: #a07617;
	/* text-align: right; */
}

.speech-right>.speech .media-heading {
	color: #a07617;
}

.btn-primary, .btn-primary:focus, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open>.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
	background-color: #579ddb;
	border-color: #5fa2dd;
	color: #fff !important;
}

.btn {
	cursor: pointer;
	color: inherit;
	padding: 6px 12px;
	border-radius: 0;
	border: 1px solid 0;
	font-size: 11px;
	line-height: 1.42857;
	vertical-align: middle;
	-webkit-transition: all .25s;
	transition: all .25s;
}

.form-control {
	font-size: 11px;
	height: 100%;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #e9e9e9;
	transition-duration: .5s;
}

.nano>.nano-pane {
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	width: 5px;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all .7s;
	transition: all .7s;
}
/* form starting stylings ------------------------------- */
.material {box-sizing:border-box;}

/* basic stylings ------------------------------------------ */

/* form starting stylings ------------------------------- */
.group 				{
	position:relative;
	/* margin-bottom:45px; */
	width: 100%;
}
input.material {
	color:white;
	/* font-size:18px; */
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #757575;
	background-color: transparent;
}
input.material:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
	color:#999;
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
}

/* active state */
input.material:focus ~ label, input.material:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:white;;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:white;;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%;
}

/* active state */
input.material:focus ~ .bar:before, input.material:focus ~ .bar:after {
	width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
	position:absolute;
	height:60%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
input.material:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:white; }
	to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:white; }
	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:white; }
	to 	{ width:0; background:transparent; }
}

input.material::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:		white;
}
input.material:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:		white;
	opacity:	1;
}
input.material::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:		white;
	opacity:	1;
}
input.material:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:		white;
}

/*** DATE ENTRIES ***/
div.hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid white;
	text-align: center;
	height: 0px;
	line-height: 0px;
}

.hr-title {
	background-color: #bf4d28;
	color: white;
}
/************** BTN CONTACT FORM ***************/
.btn.btn-lg {
	padding: 10px 35px;
	letter-spacing: 2px;
	font-size: 21px;
	width: 100%;
}

.btn {
	cursor: pointer;
	/* background-color: transparent; */
	color: inherit;
	padding: 6px 12px;
	border-radius: 0;
	border: 1px solid 0;
	font-size: 11px;
	line-height: 1.42857;
	vertical-align: middle;
	-webkit-transition: all .25s;
	transition: all .25s;
}

.btn-main {
	color: #fff;
	/*background-color: var(--bg-about-color);
	border-color: var(--primary_color);*/
	background-color: #3299bb;
	border-color: white;
}

.btn {
	font-family: "Oswald";
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 40px;
	padding: 8px 30px;
	margin-bottom: 5px;
	/*-webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
	transition: color 0.3s, background-color 0.3s, border-color 0.3s;*/
}


/*** CONTACT FORM ****/
.rebelchat-form input, .rebelchat-form textarea {
	margin-bottom: 30px;
}

.form-control {
	font-size: 11px;
	height: 100%;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #e9e9e9;
	transition-duration: .5s;
}

.form-control {
	border-radius: 2px !important;
	padding: 15px 20px !important;
	height: auto;
	border-color: #e5e5e5 !important;
	box-shadow: none !important;
}

/*** SPINNER ***/
.rebelchat-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rebelchat-text {
	color: red;
	display: inline-block;
	margin: 0 10px 0 10px;
	font-family: 'Roboto-Thin'
}

.rebelchat-bounceball {
	position: relative;
	display: inline-block;
	height: 37px;
	width: 15px;
}

.rebelchat-bounceball:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	transform-origin: 50%;
	animation: rebelchat-bounce 500ms alternate infinite ease;
}

@keyframes rebelchat-bounce {
	0% {
		top: 30px;
		height: 5px;
		border-radius: 60px 60px 20px 20px;
		transform: scaleX(2);
	}
	35% {
		height: 15px;
		border-radius: 50%;
		transform: scaleX(1);
	}
	100% {
		top: 0;
	}
}
/**** BOOTSTRAP ***/

a {
	background-color: transparent;
}
a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	-webkit-box-sizing: content-box;
		 -moz-box-sizing: content-box;
					box-sizing: content-box;
	height: 0;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


ul,
ol {
	margin-top: 0;
	margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}
.list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}


.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
	color: #999999;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #999999;
}
.form-control::-webkit-input-placeholder {
	color: #999999;
}
.form-control::-ms-expand {
	border: 0;
	background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #eeeeee;
	opacity: 1;
}

textarea.form-control {
	height: auto;
}


.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
			touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
