.rebelchat-btn {
	color: white;
}

.rebelchat-container{
	font-size: 14px;
	background-color: ___BGCOLOR___
}

.rebelchat-nano {
	position: relative;
	width: 100%;
	height:280px;
	overflow: hidden;
}

.rebelchat-nano > .rebelchat-nano-content {
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	right: -17px;
}

.rebelchat-pad-all {
	padding: 15px;
}

.rebelchat-mar-btm {
	margin-bottom: 15px;
}

.rebelchat-media-block .rebelchat-media-left {
	display: block;
	float: left;
	padding-right: 0px;
}

.rebelchat-img-sm {
	width: 46px;
	height: 46px;
}

.rebelchat-media-block .rebelchat-media-body {
	display: block;
	overflow: hidden;
	width: auto;
}

.rebelchat-pad-hor {
	padding-left: 15px;
	padding-right: 15px;
}

.rebelchat-speech {
	position: relative;
	background: __MSGBOXCOLOR__;
	color: __MSGCOLOR__;
	border-radius: 0;
	padding: 12px 20px;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.rebelchat-speech:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid __MSGBOXCOLOR__;
	margin: 15px 0 0 -6px;
}

.rebelchat-speech-right>.rebelchat-speech:before {
	left: auto;
	right: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid __RESPONSEMSGBOXCOLOR__;
	border-right: 0;
	margin: 15px -6px 0 0;
}

.rebelchat-speech .rebelchat-media-heading {
	font-size: 12px;
	color: __MSGCOLOR__;
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-weight: 300;
}

.rebelchat-media-block .rebelchat-media-right {
	float: right;
	padding-left: 0px;
	padding-right: 15px;
}

.rebelchat-speech-right {
	text-align: right;
	text-align: left;
	padding-left: 0px;
}

.rebelchat-msg-left{
	margin-bottom:0px;
	text-align: justify;
	font-size:13px;
	word-wrap: break-word;
}

.rebelchat-msg-right{
	margin-bottom:0px;
	text-align:justify;
	font-size:13px;
	word-wrap: break-word;
}

.rebelchat-speech-right>.rebelchat-speech {
	background: __RESPONSEMSGBOXCOLOR__;
	color: __RESPONSEMSGCOLOR__;
}

.rebelchat-row{
	display: flex;
	margin-top: 10px;
}

.rebelchat-send-button{
	margin-left: 5px;
}

.rebelchat-timelabel{
	float:right;
	margin-left: 2px;
}

.rebelchat-config{
	border: 1px solid rgba(255,255,255,0);
	display: inline-block;
	position: absolute;
	right: 60px;
	text-align: center;
	font-size: 11px;
	border-radius: 20px;
	z-index: 30;
	color: #7f94a1;
	line-height: 23px;
	opacity: .4;
	transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.rebelchat-config:hover{
	opacity:1;
}

.rebelchat-speech-right>.rebelchat-speech .rebelchat-media-heading {
	display: flex;
	color: __RESPONSEMSGCOLOR__;
}

.rebelchat-form-control {
	font-size: 11px;
	height: 100%;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #e9e9e9;
	transition-duration: .5s;
}

.rebelchat-material {box-sizing:border-box;}

.rebelchat-group {
	position:relative;
	width: 100%;
}

input.rebelchat-material {
	color:__INPUTCHATCOLOR__;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid __INPUTCHATCOLOR__;
	background-color: transparent;
}

input.rebelchat-material:focus{
	outline:none;
}

input.rebelchat-material:focus ~ label, input.rebelchat-material:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:__INPUTCHATCOLOR__;
}

.rebelchat-bar 	{ position:relative; display:block; width:100%; }
.rebelchat-bar:before, .rebelchat-bar:after 	{
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:__INPUTCHATCOLOR__;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
}

.rebelchat-bar:before {
	left:50%;
}

.rebelchat-bar:after {
	right:50%;
}

input.rebelchat-material:focus ~ .rebelchat-bar:before, input.rebelchat-material:focus ~ .rebelchat-bar:after {
	width:50%;
}

.rebelchat-highlight {
	position:absolute;
	height:60%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:0.5;
}

input.rebelchat-material:focus ~ .rebelchat-highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:__INPUTCHATCOLOR__; }
	to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:__INPUTCHATCOLOR__; }
	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:__INPUTCHATCOLOR__; }
	to 	{ width:0; background:transparent; }
}

input.rebelchat-material::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:		__INPUTCHATCOLOR__;
}
input.rebelchat-material:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:		__INPUTCHATCOLOR__;
	opacity:	1;
}
input.rebelchat-material::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:		__INPUTCHATCOLOR__;
	opacity:	1;
}
input.rebelchat-material:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:		__INPUTCHATCOLOR__;
}

div.rebelchat-hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid __HRCOLOR__;
	text-align: center;
	height: 0px;
	line-height: 0px;
}

.rebelchat-hr-title {
	background-color: ___BGCOLOR___;
	color: __HRCOLOR__;
}

.rebelchat-btn.rebelchat-btn-lg {
	padding: 10px 35px;
	letter-spacing: 2px;
	font-size: 21px;
	width: 100%;
}

.rebelchat-btn-main {
	color: #fff;
	background-color: #3299bb;
	border-color: white;
}

.rebelchat-chat-name {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rebelchat-form input, .rebelchat-form textarea {
	margin-bottom: 30px;
}

.rebelchat-form-control {
	font-size: 11px;
	height: 100%;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #e9e9e9;
	transition-duration: .5s;
}

.rebelchat-form-control {
	border-radius: 2px !important;
	padding: 15px 20px !important;
	height: auto;
	border-color: #e5e5e5 !important;
	box-shadow: none !important;
}

/*** SPINNER ***/
.rebelchat-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rebelchat-text {
	color: red;
	display: inline-block;
	margin: 0 10px 0 10px;
	font-family: 'Roboto-Thin'
}

.rebelchat-bounceball {
	position: relative;
	display: inline-block;
	height: 37px;
	width: 15px;
}

.rebelchat-bounceball:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	transform-origin: 50%;
	animation: rebelchat-bounce 500ms alternate infinite ease;
}

@keyframes rebelchat-bounce {
	0% {
		top: 30px;
		height: 5px;
		border-radius: 60px 60px 20px 20px;
		transform: scaleX(2);
	}
	35% {
		height: 15px;
		border-radius: 50%;
		transform: scaleX(1);
	}
	100% {
		top: 0;
	}
}

.rebelchat {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.rebelchat:before,
.rebelchat:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.rebelchat-list-unstyled {
	padding-left: 0;
	list-style: none;
}

.rebelchat-form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.rebelchat-form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.rebelchat-form-control::-moz-placeholder {
	color: #999999;
	opacity: 1;
}

.rebelchat-form-control:-ms-input-placeholder {
	color: #999999;
}

.rebelchat-form-control::-webkit-input-placeholder {
	color: #999999;
}

.rebelchat-form-control::-ms-expand {
	border: 0;
	background-color: transparent;
}

textarea.rebelchat-form-control {
	height: auto;
}

.rebelchat-btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
			touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
